@import url(//fonts.googleapis.com/css?family=Open+Sans);

@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/RobotoRegular-3m4L.ttf') format('truetype');
}

@font-face {
    font-family: Montserrat;
    src: url('../assets/fonts/MontserratRegular-BWBEl.ttf') format('truetype');
}

html,
body {
    font-family: Montserrat, Roboto, 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
}
